<div class="comment-holder">
    <div class="left">
        <app-icon class="top" icon="quote"></app-icon>
    </div>
    <div class="right">
        <div>
            <p>{{ comment.text }}</p>
        </div>
        <div>
            <span>
                <img src="../../../assets/images/shalini_singh.jpg" alt="poster-image">
            </span>
            <span>
                <p>{{ comment.poster }}</p>
                <p>{{ comment.position }}</p>
            </span>
        </div>
    </div>
</div>