:host {
    width: 45%;
}

.comment-holder {
    display: flex;
    flex-direction: row;

    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    padding: 65px 12px 53px 23px;

    .left {
        width: 100px;
    }

    .right {
        width: calc(100% - 100px);
        div:first-child {
            font-size: 26px;
        }

        div:last-child {
            display: flex;
            padding-top: 25px;

            span:first-child {
                margin-right: 20px;
            }
            
            // span:last-child {
            //     margin-left: 10px;
            //     display: flex;
            //     font-size: 28px;
            // }
        } 
    }
}