#banner {
    margin-bottom: 90px;
}

#no-title {
    margin: 90px 0 90px 0;
}

#recommendations {
    margin: 90px 0 85px 0;
}

#blogs {
    margin: -40px 0 85px 0;
}

#customers {
    margin-top: 85px;
    margin-bottom: 90px;
}

footer {
    margin: 90px 0 115px 0;
}