<div class="blog-holder">
    <h3>Blogs</h3>
    <div class="grid">
        <div class="column-1">
            <div #first>
                <span>
                    <h3>The Ultimate Guide to Climbing Mount Kilimanjaro</h3>
                </span>
            </div>
        </div>
        <div class="column-2">
            <div #second>12 Things I'd Tell Any New Traveler</div>
            <div #third>
                <h3>The Ultimate Packing List for Female Travelers</h3>
            </div>
        </div>
    </div>
</div>